/backend/model/detection_model.h5
/backend/__pycache__
/backend/model/__pycache__
/backend/routes/__pycache__
/backend/model/resnet34_model.h5
/backend/dataset_large/
/backend/uploads/
/backend/model_large/
/backend/model/*.h5